section#main {
  margin: 40px 0;
}
.article {
  margin: 0;
  border-bottom: 1px solid #f6f8f9;
}
.article .article-footer {
  border-top: none;
}
.article:nth-last-child(2) .article-footer {
  border-bottom: none;
}
.label {
  background-color: #00b5ad !important;
  border-color: #00b5ad !important;
  color: #fff !important;
  margin-left: 1em;
  position: relative;
  border-radius: 0 0.28571429rem 0.28571429rem 0;
  -webkit-transition: none;
  transition: none;
  padding: 0.5833em 0.833em;
}
.label:before {
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
  top: 50%;
  right: 100%;
  content: '';
  background-color: inherit;
  background-image: none;
  width: 1.56em;
  height: 1.56em;
  -webkit-transition: none;
  transition: none;
  box-sizing: inherit;
}
.label:after {
  position: absolute;
  content: '';
  top: 50%;
  left: -0.25em;
  margin-top: -0.25em;
  background-color: #fff !important;
  width: 0.5em;
  height: 0.5em;
  box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.3);
  border-radius: 500rem;
  box-sizing: inherit;
}
#recent-post li.no-thumbnail {
  padding: 0;
}
.article-date {
  font-weight: bold;
}
a.article-category-link {
  color: color-link;
  font-weight: bold;
}
.article-header .article-title {
  margin-bottom: 0;
  margin-top: 6px;
}
#recent-post li {
  border-bottom: 1px solid #e4e4e4;
}
#recent-post li .item-title:before {
  margin-right: 6px;
}
@media mq-mini {
  #sidebar {
    display: none;
  }
}
div.outer {
  max-width: 1380px;
}
#recent-post li .item-inner a {
  text-transform: none;
}
.article-meta {
  padding: 3px;
}
#footer {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#footer a.me {
  color: #565a5e;
}
.article-title {
  font-weight: 700;
  font-family: "Microsoft YaHei", Lato, sans-serif;
}
#main-nav a {
  font-size: 14px;
  font-weight: normal;
}
.post-toc {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post-toc .nav-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.8;
  padding: 0;
}
.post-toc .nav-item:hover > a {
  color: color-link;
}
.post-toc .nav-item:hover > .nav-child {
  display: block;
}
.post-toc .nav-child {
  display: none;
}
/**
 * 整行模式
 */
article .article-entry figure.highlight {
  margin-left: -20px;
  margin-right: -20px;
}
article .article-entry li figure.highlight {
  margin-left: -40px;
  margin-right: -40px;
}
