body
  cursor url(/normal.ico) , auto;

a:hover
  cursor url(/link.ico) , auto;
a#logo
  overflow: hidden;
  display: inline-block;
  position: relative;

  &:before
    content: "";
    position: absolute;
    width: 250px;
    height: 15px;
    background-color: rgba(255,255,255,.5);
    transform: rotate(-45deg);
    animation: lightning 1s ease-in 1s infinite;

section#main
  margin: 40px 0

.article
  margin 0
  border-bottom: 1px solid #F6F8F9

  .article-footer
    border-top none

.article:nth-last-child(2) .article-footer
  border-bottom: none

.label
  background-color: #00B5AD !important;
  border-color: #00B5AD !important;
  color: #FFF !important;
  margin-left: 1em;
  position: relative;
  border-radius: 0 .28571429rem .28571429rem 0;
  -webkit-transition: none;
  transition: none;
  padding: .5833em .833em;

  &:before {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    top: 50%;
    right: 100%;
    content: '';
    background-color: inherit;
    background-image: none;
    width: 1.56em;
    height: 1.56em;
    -webkit-transition: none;
    transition: none;
    box-sizing: inherit;
  }

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: -.25em;
    margin-top: -.25em;
    background-color: #FFF !important;
    width: .5em;
    height: .5em;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .3);
    border-radius: 500rem;
    box-sizing: inherit;
  }

#recent-post li.no-thumbnail {
  padding: 0;
}

.article-date {
  font-weight: bold;
}

a.article-category-link {
  color: color-link;
  font-weight: bold;
}

.article-header .article-title {
  margin-bottom: 0;
  margin-top: 6px;
}

#recent-post li {
  border-bottom: 1px solid #e4e4e4;

  .item-title:before {
    margin-right: 6px;
  }
}

#sidebar {
  @media mq-mini {
    display: none
  }
}

div.outer {
  max-width: 1380px;
}

#recent-post li .item-inner a {
  text-transform: none
}

.article-meta {
  padding: 3px;
}

#footer {
  font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

  a.me {
    color: #565A5E;
  }
}

.article-title {
  font-weight: 700;
  font-family: "Microsoft YaHei", Lato, sans-serif
}

#main-nav a {
  font-size: 14px;
  font-weight: normal;
}

// toc
.post-toc {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .nav-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.8;
    padding: 0;

    &:hover {
      & > a {
        color: color-link;
      }

      & > .nav-child {
        display: block;
      }
    }
  }

  .nav-child {
    display: none;
  }
}

/**
 * 整行模式
 */
article .article-entry figure.highlight {
  margin-left: -20px;
  margin-right: -20px;
}

article .article-entry li figure.highlight {
  margin-left: -40px;
  margin-right: -40px;
}

/**
 * 跳动心脏
 */
.heartbeat {
  animation: heartbeat 1300ms ease 0s infinite normal;
}

@keyframes heartbeat {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  14% {
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
  }

  28% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  42% {
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

/**
 * 闪光
 */
@keyframes lightning {
  0% {
    left: -100px
    top: 0
  }
  to {
    left: 120px
    top: 100px
  }
}