<div class="widget-wrap">
    <h3 class="widget-title"><%= __('widget.qrcode') %></h3>
    <div class="widget">
        <img src="http://7xs6lq.com1.z0.glb.clouddn.com/img/un/wx.pay.1000.png" alt="" width="200px">
    </div>
</div>