<div class="widget-wrap">
    <h3 class="widget-title"><%= __('widget.socials') %></h3>
    <div class="widget">
        <a class="social" href="https://github.com/hocgin" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <a class="social" href="https://weibo.com/u/2006617153" target="_blank"><i class="fa fa-weibo fa-2x"></i></a>
        <a class="social" href="https://www.500px.com/hocgin" target="_blank"><i class="fa fa-500px fa-2x"></i></a>
        <a class="social" href="https://hocg.in/atom.xml" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
        <a class="social" href="https://hocg.in/Resume" target="_blank"><span class="fa-2x">简</span></a>
    </div>
</div>